.hover-move-image img {
  max-width: 40%;
  transition: transform 0.7s ease-out;
}

.hover-move-image:hover img {
  transform: translateX(55%);
}

.centered {
  position: absolute;
  top: 40%;
  left: 14%;
  font-family: "Handjet", cursive;
  font-size: 250%;
}

p {
  font-family: "IBM Plex Mono", monospace;
}

.about {
  font-family: "Handjet", cursive;
  font-size: 600%;
}

a {
  font-family: "IBM Plex Mono", monospace;
}
.mb-2 {
  margin-top: 0;
}
