.nav-item {
  font-size: 120%;
}
.body {
  background-color: lightblue;
}

p {
  font-family: "IBM Plex Mono", monospace;
}

.about {
  font-family: "Handjet", cursive;
  font-size: 600%;
}

a {
  font-family: "IBM Plex Mono", monospace;
}
.mb-2 {
  margin-top: 0;
}
