/* Increase font size for elements with the class .nav-item */

.nav-item {
  font-size: 120%;
}

/* Set the background color of the body to light blue */

.body {
  background-color: lightblue;
}

.container {
  display: grid;
  grid-template-columns: 100px 400px;
  grid-gap: 10px;
}

/* Set font family for all anchor (link) elements to "IBM Plex Mono" for a monospace font */

a {
  font-family: "IBM Plex Mono", monospace;
}

/* Style the font family and increase font size for elements with the class .contact */

.contact {
  font-family: "Handjet", cursive;
  /* Use the "Handjet" cursive font */
  font-size: 500%;
  /* Increase font size to 500% */
}

/* Set the font family and font size for elements with the class .contact_container */

.contact_container {
  font-family: "IBM Plex Mono", monospace;
  /* Use a monospace font */
  font-size: 16px;
  /* Set font size to 16px */
}

/* Center-align text within form elements */

form {
  text-align: center;
}

/* Style the text area within forms */

textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
