.hover-move-image img {
  max-width: 70%;
  transition: transform 0.8s ease-out;
}

.hover-move-image:hover img {
  transform: translateX(55%);
}

.centered {
  position: absolute;
  top: 60%;
  left: 14%;
  font-family: "Handjet", cursive;
  font-size: 220%;
}

p {
  font-family: "IBM Plex Mono", monospace;
}

.hi {
  font-family: "Handjet", cursive;
  font-size: 300%;
}

a {
  font-family: "IBM Plex Mono", monospace;
}

.img-fluid {
  width: 100%;
}
